<?xml version="1.0" encoding="utf-8"?>

<manifest package="pl.droidsonroids.hodor"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".HodorApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.HodorMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".service.HodorFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".service.SendHodorBackBroadcastReceiver">
            <intent-filter>
                <action android:name="pl.droidsonroids.hodor.service.SEND_BACK" />
                <action android:name="pl.droidsonroids.hodor.service.IGNORE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".service.SendHodorBackIntentService"
            android:exported="false"/>

    </application>

</manifest>